.navigation{
  width: 100vw;
}

.navigationTabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20px;
  list-style: none;
}

.navigationTabs li, .navigationTabs a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  transition: all ease 0.2s;
  text-decoration: none;
  color: #111;
}

.navHeaderIcon {
  cursor: no-drop;
}

.navigationTabs div {
  margin-right: 10px;
  cursor: no-drop;
}

.dreamShirtNavIcon:hover {
  cursor: pointer;
}

.navigationTabs a{
  color: rgb(238, 107, 0);
}

.navigationTabs a:hover {
  cursor: pointer;
}